.carousel{
    width: 500px;
    height: 300px;
     /* overflow: hidden; */
     margin: auto;
    outline: 1px solid blue;
    white-space: nowrap;
}

.carousel>img{
    width: 500px;
    height: 300px;
    display: inline-block;
}

* {
    background-color: lightblue;
}